body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: silver;
}
main {
  margin: 0;
  width: 60%;
  height: 100%;
  margin: auto;
  background-color: white;
  text-align: center;
  padding: 10px;
}

h1 {
  margin: 0;
}
#book-div {
  text-align: left;
  margin: 10px;
  background-color: silver;
  padding: 10px;
}
